node_modules/
preview.png
crop.png
interact.png
assets/*.png
*.log
forge.png
grid.png
cmp.png
left.png
vp_*.png
right.png
heroes.png
assets/y*.webp
assets/w*.webp
assets/x*.webp
assets/u*.webp
assets/v*.webp
assets/t*.webp
assets/k*.webp
assets/s*.webp
assets/n*.webp
assets/bg*.webp
assets/ch*.webp
assets/g*.webp
board.png
board-shot.js
cmp-shot.js
art/
